@charset "utf-8";

body {
    font-family: Karla, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, 游ゴシック体, "ヒラギノ角ゴ Pro W3", メイリオ, sans-serif;
    color: #383e45;
    margin: 0;
    font-size: 0.9rem;
}

li {
    list-style: none;
}



#wrapper {
    background-color: #FFF;
    margin: 0;
}

/*------------- header -------------*/

header {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    background-color: #FFF;
    position: fixed;
    box-sizing: border-box;
    padding: 0 47px 0 30px;
    align-content: space-between;
    z-index: 2;
}

#headerinfo {
    background-color: #454545;
    width: 100%;
    height: 50px;
    margin: 10px 0;
}

#headerinfo a {
    color: #FFF;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: bold;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menuwrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    padding: 0;
    width: 153px;
}

header h1 a {
    width: 100%;
    height: 100%;
}

#headermenu {
    display:flex;
}

#headermenu ul {
    display: flex;
    margin: 0;
    padding: 0;
    color: #192F60;
    font-size: medium;
}
#headermenu ul li {
    padding-left: 20px;
}

/*------------- main -------------*/
.maincontainer {
    margin-top: 100px;
}

.mainview {
    /*background-color: #ffd5d5;*/
    padding: 0 100px 100px;
    width: auto;
    height: calc(100vh - 190px);
}

.mainimage {
	margin: auto;
    background-color: white;
    /* position: relative; */
    width: 100%;
    height: 100%;
}

.img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p {
    font-size: 18px;
    font-weight: bold;
    color: #192F60;
    letter-spacing: 0.05em;
}

.mainview p {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    color: #192F60;
    justify-content: flex-end;
    letter-spacing: 0.05em;
}

a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #192F60;
    letter-spacing: 0.05em;
}

.missonlink {
    position: relative;
    height: 70px;
}

.arrow-under{
    position: absolute;
    bottom: 0;
}

.arrow-under::before{
  content: '';
  width: 10px;
  height: 10px;
  border: 0px;
  border-bottom: solid 3px #192F60;
  border-right: solid 3px #192F60;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  bottom: 6px;
  left: -40px;
  margin-top: -4px;
}

.arrow-btn1 {
    position: absolute;
    right: -4%;
    bottom: 0;
}

.ourmission-arrow  a{
    display: block;
    bottom: 0;
    right: 0;
    align-items: center;
    /* height: 71%; */
    float: right;
    margin-right: 27px;
}

.arrow-right {
    display: inline-block;
    margin-left: 20px;
}

.arrow-right::before{
     content: '';
    width: 10px;
    height: 10px;
    border-top: solid 3px #192F60;
    border-right: solid 3px #192F60;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
}

.ourMission {
    width: 100%;
    height: 710px;
    /*background-color: #d5d6ff;*/
    background-image: url(img/bg_right.svg);
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
}

.consept {
    position: absolute;
    width: 335px;
    height: 290px;
    top: 31%;
    left: 8%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.consept img{
    height: 90px;
}

.consept_text {
    width: 50vw;
    height: 500px;
    border: solid 1px #c0c0c0;
    position: absolute;
    top: 14%;
    right: 0;
    margin-right: 100px;
    background-color: #FFF;
}

.consept_msg {
    padding: 100px 0 0 0;
    height: 350px;
}

.consept_msg p {
    padding: 0 15%;
    line-height: 40px;
    margin: 0;
    height: 350px;
}

.arrow-btn2 {
    width: 100%;
    height: 65px;
    position: absolute;
    bottom: 0px;
}

.services {
    width: 100%;
    height: 1000px;
    /*background-color: #ffd5d5;*/
    position: relative;
}

.services_outer {
    position: relative;
    margin: 0 auto;
    max-width: 1306px;
    height: 100%;
    /*background-color: #dcdcdc;*/
}

.menu_title {
    position: absolute;
    font-size: 50px;
    font-weight: 500;
    color: #192F60;
    /* letter-spacing: 0.02em; */
    margin: 20px 0 0 0;
    left: 50px;
}

.sub_title {
    position: absolute;
    font-size: 15px;
    font-weight: lighter;
    color: #192F60;
    left: 50px;
    top: 95px;
    margin: 0;
}

.services_inner {
    position: absolute;
    width: calc(100% - 100px);
    display: flex;
    top: 150px;
    left: 50px;
    flex-wrap: wrap;
}

.service_box a {
    display: block;
    height:100%;
}

.service_box:after{
	content:"";
	display: block;
	width:0;
	height:0;
	padding-bottom:10%;
	
}

.service_box {
    width: calc((100% - 66px)/3);
    min-width: 260px;
    margin: 0 20px 20px 0;
    background-color: #FFF;
    border: solid 1px #c0c0c0;
}

.service_img {
    width: 100%;
}

.service_box p {
    margin:25px 0 0 20px;
}

.news {
    width: 100%;
    height: 710px;
    /*background-color: #d5d6ff;*/
    background-image: url(img/bg_left.svg);
    background-repeat: no-repeat;
    background-position: left;
    position: relative;
}

.news_outer {
    position: relative;
    margin: 0 auto;
    max-width: 1306px;
    height: 100%;
}

.news_box {
    position: absolute;
    width: calc(100% - 100px);
    height: 500px;
    background-color: #FFF;
    border: solid 1px #c0c0c0;
    display: flex;
    top: 110px;
    left: 50px;
}


.recruit {
    width: 100%;
    height: 500px;
    background-color: #ffd5d5;
}

.recruitblog {
    width: 100%;
    height: 500px;
    background-color: #d5d6ff;
}

.lastmessage {
    width: 100%;
    height: 500px;
    background-color: #ffd5d5;
}

.footermenu {
    width: 100%;
    height: 500px;
    background-color: #d5d6ff;
}
